[aria-hidden="true"] {
  pointer-events: none;
  visibility: hidden;
}

@keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
  
      .fade-in {
        animation: fadeIn 5s ease-out;
      }

    @keyframes slideInFromRight {
      0% {
        transform: translateX(50%); /* Mulai dari luar kanan */
        opacity: 0; /* Teks tidak terlihat */
      }
      100% {
        transform: translateX(0); /* Posisi akhir di tengah */
        opacity: 1; /* Teks menjadi terlihat */
      }
    }
    .slide-in-right {
      animation: slideInFromRight 2s ease-out;
    }

    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-50%); /* Mulai dari luar kiri */
        opacity: 0; /* Teks tidak terlihat */
      }
      100% {
        transform: translateX(0); /* Posisi akhir di tengah */
        opacity: 1; /* Teks menjadi terlihat */
      }
    }
    .slide-in-left {
      animation: slideInFromLeft 2s ease-out;
    }

    @keyframes slideInFromBottom{
      0% {
        transform: translateY(100%); /* Mulai dari luar kiri */
        opacity: 0;
      }
      100% {
        transform: translateY(0); /* Mulai dari luar kiri */
        opacity: 1;
      }
    }
    .slide-in-bottom {
        animation: slideInFromBottom 2s ease-out;
      }
    .slide-in-bottom-bca {
        animation: slideInFromBottom 0.5s ease-out;
      }
      @keyframes slideInFromTop{
      0% {
        transform: translateY(-100%); /* Mulai dari luar kiri */
        opacity: 0;
      }
      100% {
        transform: translateY(0); /* Mulai dari luar kiri */
        opacity: 1;
      }
    }
    .slide-up {
      transform: translateY(0);
      opacity: 1;
      transition: transform 2s ease-in-out;
    }
    .slide-up.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }
